<div class="container mt-5">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Subject: BTC Sent Successfully - Transaction ID: [0msx836930...87r398ID]

        Dear User,
        
        We are pleased to inform you that the Bitcoin (BTC) transaction has been successfully processed. The transaction ID is as follows:
        
        Transaction ID: 0msx836930...87r398ID
        
        If you have any questions or concerns regarding this transaction, please feel free to reach out to our support team.

        It may take a while for btc to reflect.
        
        Thank you for choosing our services.
        
        Best regards,
        Zikocoin

    <br/>
    <br/>
    <form action="/zico-secure/btc-wallet" method="GET">

</form>
  
    </div>
  </div>

  <div style='text-align: center;'>
    <!-- insert your custom barcode setting your data in the GET parameter "data" -->
    <img alt='Barcode Generator TEC-IT'
         src='https://barcode.tec-it.com/barcode.ashx?data=YHDIO-SMAD-AUH&code=TelepenAlpha'/>
  </div>
  <div style='padding-top:8px; text-align:center; font-size:15px; font-family: Source Sans Pro, Arial, sans-serif;'>
    <!-- back-linking to www.tec-it.com is required -->
    
  </div>