<div class="container mt-5">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Subject: BTC Sent Successfully - Transaction ID: [0msx836930...87r398ID]

        Dear ,
        
        We are pleased to inform you that the Bitcoin (BTC) transaction has been successfully processed. The transaction ID is as follows:
        
        Transaction ID: 0msx836930...87r398ID
        
        If you have any questions or concerns regarding this transaction, please feel free to reach out to our support team.
        
        Thank you for choosing our services.
        
        Best regards,
        Zicocoin

    <br/>
    <br/>
    <form action="/zico-secure/questions" method="GET">

</form>
  
    </div>
  </div>