<section class="page-title">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="heading">FAQ</h3>
        </div>
        <div class="col-md-6">
          <ul class="breadcrumb">
            <li><a href="index-2.html">Home</a></li>
            <li><p class="fs-18">/</p></li>
            <li><p class="fs-18">FAQ</p></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End PageTitle -->

  <section class="faq">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block-text center">
            <h3 class="heading">Frequently Asked Questions</h3>
            <p class="desc fs-20">Learn how to get started</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="flat-accordion">
            <div class="flat-toggle">
              <h6 class="toggle-title">How to withdraw funds?</h6>
              <div class="toggle-content">
                <p>
                  You can withdraw your fund in your wallet to your personal account
                </p>
                <a href="#">Learn more</a>
              </div>
            </div>
            <div class="flat-toggle">
              <h6 class="toggle-title">Is there a minimum sum for withdrawal?</h6>
              <div class="toggle-content">
                <p>
                  Yes, a minimum amount you can request for a withdrawal is 10% of your traded account in US Dollars
                </p>
                <a href="#">Learn more</a>
              </div>
            </div>
            <div class="flat-toggle">
              <h6 class="toggle-title">
                How fast is my withdrawal processed?
              </h6>
              <div class="toggle-content">
                <p>
                  Withdrawal requests are processed instantly. Other transactions are approved and paid within 24 business hours
                </p>
                <a href="#">Learn more</a>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </section>