<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themesflat.co/html/rockie/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 Jan 2024 07:44:43 GMT -->

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Zicocoin | Crypto Exchange</title>

  <!-- Style CSS -->
  <link rel="stylesheet" href="app/dist/app.css" />


  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  <!-- End Style CSS -->

  <link rel="shortcut icon" href="logo.png" />
  <link rel="apple-touch-icon-precomposed" href="logo.png" />
</head>

<body class="body header-fixed">
  <!-- Header -->
  <header id="header_main" class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="header__body d-flex justify-content-between">
            <div class="header__left">
              <div class="logo">
                <a class="light" href="index-2.html">
                  <img id="site-logo" src="logo.png" alt="" width="50" height="40"
                    data-retina="assets/images/logo/logo@2x.png" data-width="118" data-height="50" />
                </a>
                <a class="dark" href="index-2.html">
                  <img src="assets/images/logo/logo-dark.png" alt="" width="118" height="32"
                    data-retina="assets/images/logo/logo-dark@2x.png" data-width="118" data-height="32" />
                </a>
              </div>
              <div class="left__main">
                <nav id="main-nav" class="main-nav">
                  <ul id="menu-primary-menu" class="menu">
                    <li class="menu-item-has-children">
                      <a href="/zico-secure/home">Home</a>


                    </li>

                    <li class="menu-item">
                      <a href="/zico-secure/login">Login</a>
                    </li>

                    <li class="menu-item">
                      <a href="/zico-secure/faq">FAQ</a>
                    </li>



                  </ul>

                </nav>

                <!-- /#main-nav -->
              </div>

            </div>

            <div class="header__right">





              <div class="mobile-button"><span></span></div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="cryptohopper-web-widget" data-id="2"></div>

  
  <!-- end Header -->

  <div class="bg-image">
    <div class="center">
      <div class="container"><%- body %></div>

      <footer class="footer style-2">
        <div class="container">
          <div class="footer__main">
            <div class="row">
              <div class="col-xl-4 col-md-6">
                <div class="info">
                  <a href="index-2.html" class="logo">
                    <img src="logo.png" alt="" />
                  </a>
                  <h6>Let's talk! 🤙</h6>
                  <ul class="list">
                    <li><p>support@zicomine.co</p></li>
                   
                  </ul>
                </div>
              </div>
              <div class="col-xl-4 col-md-6">
                <div class="widget">
                  <div class="widget-link">
                    <h6 class="title">PRODUCTS</h6>
                    <ul>
                      <li><a href="spot.html">Spot</a></li>
                      <li><a href="#">Inverse Perpetual</a></li>
                      <li><a href="#">USDT Perpetual</a></li>
                      <li><a href="exchange.html">Exchange</a></li>
                      <li><a href="#">Launchpad</a></li>
                      <li><a href="#">Binance Pay</a></li>
                    </ul>
                  </div>
                  <div class="widget-link s2">
                    <h6 class="title">SERVICES</h6>
                    <ul>
                      <li><a href="buy-crypto-select.html">Buy Crypto</a></li>
                      <li><a href="markets.html">Markets</a></li>
                      <li><a href="#">Tranding Fee</a></li>
                      <li><a href="#">Affiliate Program</a></li>
                      <li><a href="#">Referral Program</a></li>
                      <li><a href="#">API</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-12">
                <div class="footer-contact">
                  <h5>Newletters</h5>
                  <p>
                    Subscribe our newsletter to get more info
                  </p>
                  <form action="#">
                    <input
                      type="email"
                      placeholder="Enter your email"
                      required=""
                    />
                    <button type="submit" class="btn-action">Submit</button>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="footer__bottom">
            <p>
              ©2024 Zicomine All rights reserved. Terms of Service | Privacy
              Terms
            </p>
          </div>
        </div>
      </footer>
  
    </div>


    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="app/js/aos.js"></script>
    <script src="app/js/jquery.min.js"></script>
    <script src="app/js/jquery.easing.js"></script>
    <script src="app/js/popper.min.js"></script>
    <script src="app/js/bootstrap.min.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/jquery.peity.min.js"></script>
    <script src="app/js/Chart.bundle.min.js"></script>
    <script src="app/js/apexcharts.js"></script>
    <script src="app/js/switchmode.js"></script>
    <script src="app/js/jquery.magnific-popup.min.js"></script>

    <script src="app/js/chart.js"></script>

    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

    <script src="https://www.cryptohopper.com/widgets/js/script"></script>



    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->

    <script>
      function Convert() {
        let dollarInput = document.getElementByClass("dollar").value;
        let bitcoinInput = document.getElementByClass("bitcoin").value;

        if ((dollarInput != "") & (bitcoinInput == "")) {
          let parsedDollar = parseFloat(dollarInput);
          let fromDollarToBitcoin = parsedDollar * 0.000022;

          let output = document.getElementByClass("bitcoin");
          output.value = fromDollarToBitcoin;
          console.log("Bitcoin", fromDollarToBitcoin);

          clearMessage();
          clearAlert();
        }

        if ((bitcoinInput != "") & (dollarInput == "")) {
          let parsedBitcoin = parseFloat(bitcoinInput);
          let fromBitcoinToDollar = parsedBitcoin * 46403.5;

          let output = document.getElementByClass("dollar");
          output.value = fromBitcoinToDollar;
          console.log("US$", fromBitcoinToDollar);

          clearMessage();
          clearAlert();
        }

        if ((bitcoinInput == "") & (dollarInput == "")) {
          showMessage();
        }
      }
    </script>

    
</body>

<!-- Mirrored from themesflat.co/html/rockie/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 Jan 2024 07:44:43 GMT -->

</html>